<h3>POSUĐENO:</h3>
<ul>
  <% @borrowed_books.each do |book| %>
  <li>
  <pre><%= link_to "#{book.title} - #{book.author}", book_path(book.id)%>
    POSUĐENO: <%= book.date_borrowed %>
    <%= link_to "VRATI", :controller => :book, :action => :return, :user_id => current_user.id, :book_id => book.id %>
  </pre>
  </li>
  <% end %>
</ul>
<h3>KNJIGE:</h3>
<% @books.each do |book| %>
<p><%= link_to "#{book.title} - #{book.author}", book_path(book.id)%></p>
<% end %>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>
