.content
%h1= @book.title
%p
  Autor: #{@book.author}
  %br
  Opis: #{@book.description}
  %br
  Mjesto: #{@book.place}
  %br
  Izdavač: #{@book.publisher}
  %br
  Godina: #{@book.year}
  %br
  Signatura: #{@book.signature}
.links
= link_to "Posudi", :controller => :book, :action => :borrow, :user_id => current_user.id, :book_id => @book.id
%br
= link_to "Natrag", book_index_url
